<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DosmonoDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F8D9BDD92567EBCA009028C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8D9BDF42567EBCC009028C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8D9BDFF2567EBCD009028C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
